/* .user-sidebar {
    border-right: 2px solid rgb(26, 26, 26); 
    width: 250px; 
    height: 100vh; 
    background: rgba(0, 0, 0, 0.39); 
    margin-left: -15px;
} */

.nav .nav-item button.active {
    background-color: transparent;
    color: var(--bs-success) !important;
}
.nav .nav-item button.active::after {
    content: "";
    border-right: 8px solid var(--bs-success);
    height: 100%;
    position: absolute;
    right: -1px;
    top: 0;
    border-radius: 5px 0 0 5px;
}
  
.bookmark-overflow{
    max-height: 90vh;
    overflow-y: auto;
}